.redes-sociales {
    text-align: center;
}

.curriculum{
    width: 100%;
    display: flex;
}

.curriculum a{
    margin: auto;
    text-decoration: none;
    color: whitesmoke !important;
    font-weight: bold;
}

.contact {
    width: 100%;
    display: flex;
}

.telefono{
    margin: auto;
}

.correo {
    margin: auto;
}