.redes-sociales {
    text-align: center;
}

.curriculum{
    width: 100%;
    display: flex;
}

.curriculum p{
    margin: auto;
}

.contact {
    width: 100%;
    display: flex;
}

.telefono{
    margin: auto;
}

.correo {
    margin: auto;
}